h2 {
	border-top: .125em gray solid;
}

h3 {
	margin-left: 1em;
}


h3:before {
	content: "\000A7\000A0";
	color: black;
}

td {
	background: rgb(240, 240, 240);
}

.specificText {
    font-family: monospace;
}


.code {
	font-family: monospace;
	font-size: 85%;
	border-left: 3px solid gray;
	padding-left: .5em;
}
